*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;


}
.container {
    
    width:100%;
    min-height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    padding: 10px;
    

}
.example{
    width:100%;
    max-width: 540px;
    background-color: white;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.example h1{
   color:#002765;
   display: flex;
   font-size: 40px;
   padding: 0 0 18px 10px;
    justify-content: center;
    
}
.example h1 img{
    width: auto;
    height:45px;
    align-items: flex-end;
    padding-left: 10px;
 }

.content{
    display:flex;
    background:gainsboro;
    justify-content: space-between;
    border-radius:30px;
    padding-left:20px;
    margin-bottom: 20px;


}
input{
    flex:1;
    background: transparent;
    border: none;
    padding:15px;

}
button {
    background: #ff5945;
   outline: none;
    border: none;
    cursor: pointer;
    padding:16px 50px;
    color:#fff;
    font-size: 16px;
    border-radius: 40px;
}

button:hover {
    background-color: #ff5555;
}
ul li{
    display: flex;
    list-style: none;
    font-size:15px;
   
    user-select:none;
    cursor: pointer;
    
    align-items: center;
    justify-content: space-between;
   
    
    
}
ul li::before{
    content:" ";
    
    height:28px;
    width:28px;
    
   
    
    
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    
    top: 12px;
    left:2pxpx;
}
ul li.checked{
    
    color:green;
    text-decoration: line-through;
}
ul li.checked{
    background-image: url();
   
}
ul li span{
   
    
    border-radius: 50px;
    width:40px;
    height:40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    
}
ul li span:hover{
    background: #edeef0;
}